asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.1
chardet==3.0.4
chardet2==2.0.3
Click==7.0
configobj==5.0.6
cryptography==2.0.3
Flask==1.0.2
Flask-Cors==3.0.7
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
olefile==0.44
Pillow==4.3.0
pprint==0.1
protobuf==3.18.3
pycparser==2.18
pycrypto==2.6.1
pydub==0.20.0
pyOpenSSL==17.3.0
pysolr==3.6.0
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.6.1
readline==6.2.4.1
requests==2.18.4
six==1.11.0
SpeechRecognition==3.7.1
urllib3==1.22
watson-developer-cloud==0.26.1
Werkzeug==0.14.1
yowsup2==2.4.48
